@font-face{
    font-family: sansorif;
    src: url(./font/roboto-Regular.ttf);
    src: url(./font/roboto-Regular.eot);
    src: url(./font/roboto-Regular.woff);
    src: url(./font/roboto-Regular.woff2);

}